.newsletter{
    text-align: center;
    margin: 70px auto;
    p{
        color: $gray;
    }
    &__form{
        
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        input[type="email"]{
            border: none;
            background-color: #F5F5F5;
            color: $gray;
            height:60px;
            outline: none;
            width: 400px;
            padding:20px
        }

        button{
            background-color:$red;
            padding: 18px 40px;
            color: white!important;
            outline: none;
            border: none;
        }
    }
    p.newsletter__error{
        color: $red;
        font-weight: 700;
    }
    p.newsletter__success{
        color: $dark-blue;
        font-weight: 700;
    }
}

@media screen and (max-width: 900px) {
    .newsletter{
      
        &__form{
            
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            input[type="email"]{
                border: none;
                background-color: #F5F5F5;
                color: $gray;
                height:60px;
                outline: none;
                width: 400px;
                padding:20px
            }
    
            button{
                display: block;
                background-color:$red;
                padding: 18px 40px;
                width: 400px;
                color: white!important;
            }
        }
    }
}