.podcast{
    margin-bottom:20px;

    &__info{
        h2{
            font-size: 24px;
        }
        p{
            color: $gray;
        }
        &--player{
            display: flex;
            flex-direction: row;
            align-items: center;
            audio{
                display: none;
                height:50px;
                margin-left:10px;
            }
        }
    }
    &__meta{
        border-left:  solid 1px $gray;
    }

}

@media screen and (max-width: 900px) {
    .podcast{

    
        &__info{
         
            &--player{
                display: flex;
                flex-direction: column;
                align-items: center;
                audio{
                    display: none;
                    height:50px;
                    margin:10px;
            
                }
            }
        }
        &__meta{
            border-left:  solid 1px $gray;
            p{
                margin: 3px;
            }
        }
    
    }  
}
